{% load static %}
{% for about in about_me %}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
	<html lang="en">
	<!-- Head -->
	<head>
	<title>Alibehzad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Alibehzad" />
	<!-- css -->
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<!-- //font-awesome icons -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />
	<!-- Default-JavaScript-File -->
		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- //Default-JavaScript-File -->

	</head>

	<body>
	<!-- banner -->
		<div class="w3-banner-top">
		<div class="agileinfo-dot">
				<div class="w3layouts_menu">
					<nav class="cd-stretchy-nav edit-content">
						<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
						<ul>
							<li><a href="#home" class="scroll"><span>Home</span></a></li>
							<li><a href="#about" class="scroll"><span>About</span></a></li>
							<li><a href="#contact" class="scroll"><span>Contact</span></a></li>
							<a href="#skills" class="scroll"><span>Skills</span></a></li> 
						</ul> 
						<span aria-hidden="true" class="stretchy-nav-bg"></span>
					</nav> 
				</div>

			<div class="w3-banner-grids" id='home'>
				<div class="col-md-6 w3-banner-grid-left">
					<div class="w3-banner-img">
						<img src="{{ about.profile.url }}" alt="img">
						<h3 class="test">{{ about.name }}</h3>
						<p class="test" >{{ about.job }}</p>
					</div>
				</div>
				<div class="col-md-6 w3-banner-grid-right">
				<div class="w3-banner-text">
					<h3>{{ about.name }}</h3>
					<p>{{ about.about }}</p>
				</div>
					<div class=" w3-right-addres-1">
					<ul class="address">
									<li>
										<ul class="agileits-address-text ">
											<li class="agile-it-adress-left"><b>D.O.B</b></li>
											<li><span>:</span>{{ about.dob }}</li>
										</ul>
									</li>
									<li>
										<ul class="agileits-address-text">
											<li class="agile-it-adress-left"><b>PHONE</b></li>
											<li><span>:</span>{{ about.phone }}</li>
										</ul>
									</li>
									<li>
										<ul class="agileits-address-text">
											<li class="agile-it-adress-left"><b>ADDRESS</b></li>
											<li><span>:</span>{{ about.address }}</li>
										</ul>
									</li>
									<li>
										<ul class="agileits-address-text">
											<li class="agile-it-adress-left"><b>E-MAIL</b></li>
											<li><span>:</span><a href="mailto:example@mail.com">{{ about.email }}</a></li>
										</ul>
									</li>
									<li>
										<ul class="agileits-address-text">
											<li class="agile-it-adress-left"><b>WEBSITE</b></li>
											<li><span>:</span><a href="#">{{ about.website }}</a></li>
										</ul>
									</li>
								</ul> 

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="thim-click-to-bottom">
					<a href="#about" class="scroll">
						<i class="fa  fa-chevron-down"></i>
					</a>
				</div>

		</div>
	<!-- banner -->
	<!-- /about -->

	<div class="w3-about" id="about">
		<div class="container">
			<div class="w3-about-head">
				<h3>About me</h3>
			</div>
			<div class="w3-about-grids">
			<div class=" w3-about-grids1">
					<div class="col-md-6 w3-about-grid-left1">
						<img src="{% static 'images/ab5.jpg' %}" alt="img1">
			
					</div>
					<div class="col-md-6 w3-about-grid-right1">
						<h3>{{ about.about }}</h3>
						<div class= "w3-about-grid-small-border">
						<div class="col-md-4 w3-about-grid-small">
							<h3 class="w3-head-project">{{ about.web_project }}</h3>
							<h5>web projects</h5>
						</div>
						<div class="col-md-4 w3-about-grid-small">
						<h3 class="w3-head-project">{{ about.php_project }}</h3>
							<h5>php projects</h5>
						</div>
						<div class="col-md-4 w3-about-grid-small">
							<h3 class="w3-head-project">{{ about.django_project }}</h3>
							<h5>Django projects</h5>
							<div class="clearfix"></div>
						</div>
					<div class="clearfix"></div>
					</div>
					</div>
					<div class="clearfix"></div>
					<div class="w3-about-grids2">
					<div class="col-md-6 w3-about-grid-left2">
						<h3>{{ about.slogan }}</h3>
						<p>{{ about.about_slogan }}</p>
						<h4><a href="#">Readmore</a></h4>
			
					</div>
					<div class="col-md-6 w3-about-grid-right2">
					<img src="{% static 'images/ab7.jpg' %}" alt="img1">
			
					</div>
					<div class="clearfix"></div>
					</div>
			</div>
		</div>
	</div>
	</div>
	<!-- //about  -->

	<!-- skills -->
		
<div class="skills" id="skills">
	<div class="container">
	<div class="title-w3ls">
		<h4>My Skills</h4>
		</div>
		<div class="skills-bar">
		<div class="col-md-6 w3-agile-skills-grid">
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
				        {% for skill in skill_me %}
					        <div class='bar_group__bar thin' label="{{ skill.skill_name }}" show_values='true' tooltip='true' value="{{ skill.skill_percentage }}"></div>
						{% endfor %}
					 </div>
                	
				</section>
			</section>
		</div>
		</div>
	</div>
</div>
<!-- //skills -->
	<!-- footer -->
		<div class="w3l_footer" id='contact'>
			<div class="container">
				
				<div class="w3ls_footer_grids">
					
					<div class="w3ls_footer_grid">
						<div class="col-md-4 w3ls_footer_grid_left">
							<div class="w3ls_footer_grid_leftl">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3ls_footer_grid_leftr">
								<h4>Location</h4>
								<p>{{ about.address }}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 w3ls_footer_grid_left">
							<div class="w3ls_footer_grid_leftl">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3ls_footer_grid_leftr">
								<h4>Email</h4>
								<a href="mailto:{{ about.email }}">{{ about.email }}</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 w3ls_footer_grid_left">
							<div class="w3ls_footer_grid_leftl">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3ls_footer_grid_leftr">
								<h4>Call Me</h4>
								<p>{{ about.phone }}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="w3l_footer_pos">
				<p>© 2020 C-Resume. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	<!-- //footer -->
	<script src="{% static 'js/bars.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<!-- text-effect -->
			<script type="text/javascript" src="{% static 'js/jquery.transit.js' %}"></script> 
			<script type="text/javascript" src="{% static 'js/jquery.textFx.js' %}"></script> 
			<script type="text/javascript">
				$(document).ready(function() {
						$('.test').textFx({
							type: 'fadeIn',
							iChar: 100,
							iAnim: 1000
						});
				});
			</script>
	<!-- //text-effect -->
	<!-- menu-js --> 	
		<script src="{% static 'js/modernizr.js' %}"></script>	
		<script src="{% static 'js/menu.js' %}"></script>
	<!-- //menu-js --> 	


	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/
									
				$().UItoTop({ easingType: 'easeOutQuart' });
									
				});
		</script>


	</body>
	</html>
	
    {% endfor %}
	

	



